<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" href="#profile" role="tab" data-toggle="tab"><%= t('users.edit.profile') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#buzz" role="tab" data-toggle="tab"><%= t('users.edit.posts') %></a>
  </li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade active show" id="profile">
    <div class="container-fluid" style="padding-left: 20%; padding-right: 20%">
	  <div class="row header_Edit">
		<%= t('users.edit.editing') %> <%= @user.nickname %>
	  </div>
	  <%= render 'form', user: @user %>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="buzz">
	<div style="padding-left: 15%; padding-right:15%">
  	  <table class="table table-striped" style="text-align: center">
  	  <thead>
      <tr>
        <th style="text-align: center">#</th>
        <th style="text-align: center"><%= t('posts.table.name') %></th>
        <th style="text-align: center"><%= t('posts.table.update') %></th>
      </tr>
  	  </thead>
  	  <tbody>
  	    <% @user.posts.each_with_index do |post, index| %>
      	  <tr onclick="window.location.href='<%= post_path(post.id) %>'">
            <th scope="row" style="text-align: center"><%= index + 1 %></th>
    	      <td><%= post.name %></td>
    		    <td><%= post.updated_at %></td>
          </tr>
	    <% end %>
  	  </tbody>
	  </table>
	</div>
  </div>
</div>
