<div style="padding-left: 10%; padding-right:10%">
  <table class="table table-striped" style="text-align: center">
  <thead>
    <tr>
      <th style="text-align: center">#</th>
      <th style="text-align: center">Avatar</th>
      <th style="text-align: center">Username</th>
      <th style="text-align: center">Posts</th>
      <th style="text-align: center">Email</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |user, index| %>
      <tr onclick="window.location.href='<%= user_path(user.id) %>'">
    	<th scope="row" style="padding-top: 2%; text-align: center"><%= index %></th>
    	<td><img src=<%= user.image %> width="50" height="50" style="border-radius: 50%"></td>
    	<td style="padding-top: 2%"><%= user.nickname %></td>
    	<td style="padding-top: 2%"><%= user.count_Posts %></td>
    	<td style="padding-top: 2%"><%= user.email %></td>
      </tr>
	<% end %>
  </tbody>
</table>
</div>
