<div class="user_edit_padding">
  <table class="table table-striped user_edit_table">
    <thead>
      <tr>
        <th>#</th>
        <th><%= t('users.index.header.avatar') %></th>
        <th><%= t('users.index.header.username') %></th>
        <th><%= t('users.index.header.posts') %></th>
        <th><%= t('users.index.header.email') %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |user, index| %>
        <tr onclick="window.location.href='<%= user_path(user.id) %>'">
      	<th scope="row" class="user_table_inner"><%= index + 1 %></th>
      	<td><img src=<%= user.image %> width="50" height="50" style="border-radius: 50%"></td>
      	<td class="user_table_inner"><%= user.nickname %></td>
      	<td class="user_table_inner"><%= user.count_Posts %></td>
      	<td class="user_table_inner"><%= user.email %></td>
        </tr>
  	  <% end %>
    </tbody>
  </table>
</div>
