<div class="container-fluid user_show_body">
	<div class="row header_show">
		<div class="col-lg-6">
			<%= t('users.show.profile') %>   <%= @user.nickname %>
		</div>
		<div class="col-lg-6 show_header_link">
			<% if current_user && (@user.id == current_user.id || current_user.isAdmin) %>
				<%= link_to t('users.show.edit'), edit_user_path(@user.id), :class => "btn btn-secondary" %>
			<% end %>
		</div>
	</div>
	<div class="row body_show">
		<div class="col-lg-2">
			<img src=<%= @user.image %> class="img-fluid img_Show" width="150">
		</div>
		<div class="col-lg-10 content_show">
			<div>
			  <a class="btn btn-social-icon btn-lg ">
			    <i class="fa fa-envelope"></i>
			  </a>
			  <%= @user.email %><br>
			</div>
			<div><%= t('users.show.about') %><%= @user.about %><br></div>
		</div>
	</div>

	<div>
		<table class="table table-striped" style="text-align: center">
  		<thead>
	      <tr>
	        <th class="comments_image">#</th>
	        <th class="comments_image"><%= t('posts.table.name') %></th>
	        <th class="comments_image"><%= t('posts.table.update') %></th>
	      </tr>
  	  </thead>
  	  <tbody>
  	    <% @user.posts.each_with_index do |post, index| %>
      	  <tr onclick="window.location.href='<%= post_path(post.id) %>'">
            <th scope="row" class="comments_image"><%= index + 1 %></th>
    	    	<td><%= post.name %></td>
    				<td><%= post.updated_at.strftime("%d.%m.%y, %H:%M") %></td>
          </tr>
	    	<% end %>
  	  </tbody>
	  </table>
	</div>
</div>
