<%= form_for(post) do |f| %>
  <div class="row">
    <div class="input-group">
      <span class="input-group-addon"><%= t('posts.form.name') %></span>
      <%= f.text_field :name, :class => "form-control" %>
    </div>
  </div><br>

<div class="row">
  <div class="input-group">
    <span class="input-group-addon"><%= t('posts.form.preview') %></span>
    <%= f.text_field :preview, :class => "form-control" %>
  </div>
</div><br>

<div class="row">
  <div class="input-group">
    <span class="input-group-addon"><%= t('posts.form.tags') %></span>
    <%= f.text_field :tag_list, :class => "form-control" %>
  </div>
</div><br>

<div class="row" style="padding-left: 25%">
  <button type="submit" class="btn btn-secondary" style="width: 50%"><%= t('posts.form.button') %></button>
</div><br>
<% end %>
