<h1>Editing Post</h1>

<%= form_for(@post) do |f| %>
  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :rate %>
    <%= f.number_field :rate %>
  </div>

  <button type="submit" class="btn btn-success">Update Post</button>
<% end %>

<% @steps.each do |step| %>

<div onclick="window.location.href='<%= edit_step_path(step.id) %>'"><%= step.content %></div>
<% end %>

<%= form_for(@step) do |f| %>
  <div class="field" style = "display:none">
    <%= f.label :post_id %>
    <%= f.number_field :post_id, :value => @post.id %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
