<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 edit_Post_Column">
      <div style="text-align:center;"><%= t('posts.edit.header') %></div>
      <%= form_for(@post) do |f| %>
        <div class="input-group" style="width: 90%">
          <span class="input-group-addon"><%= t('posts.edit.name') %></span>
          <%= f.text_field :name, :class => "form-control" %>
        </div>
        <button type="submit" class="btn btn-facebook edit_Post_Button"><%= t('posts.edit.update') %></button>
        <%= button_to "Destroy", post_path(@post.id), method: :delete , :style =>"margin-bottom: 20%", :class => "btn btn-danger edit_Post_Button", data: { confirm: "Are you sure?"} %>
      <% end %>

      <div style="text-align:center;"><%= t('posts.edit.form.create') %></div>
      <%= form_for [@post, @step] do |f| %>
        <div class="field" style = "display:none">
          <%= f.label :post_id %>
          <%= f.number_field :post_id, :value => @post.id %>
        </div>
        <div class="input-group" style="width: 90%">
          <span class="input-group-addon"><%= t('posts.edit.form.step') %></span>
          <%= f.text_field :name, :class => "form-control" %>
        </div>
        <button type="submit" class="btn btn-success" style="width: 90%;margin-top:3%;"><%= t('posts.edit.form.button') %></button>
      <% end %>
      <div style="font-weight:normal">
        <%= link_to t('posts.edit.form.links.switch'), post_path(@post.id) %>
        <button onclick="updateDiv()" class="btn btn-secondary">Refresh</button>
      </div>
    </div>
    <div class="col-lg-8" id="reloading">
      <div style="padding-left: 5%; padding-right:5%">
        <table class="table table-striped" style="text-align: center">
        <thead>
          <tr>
            <th style="text-align: center">#</th>
            <th style="text-align: center"><%= t('posts.edit.table.step') %></th>
            <th style="text-align: center"><%= t('posts.edit.table.update') %></th>
          </tr>
        </thead>
        <tbody id="steps_List">
          <% @steps.each_with_index do |step, index| %>
            <tr class="list_Item" data-id = "<%= step.id %>" onclick="window.location.href='<%= edit_post_step_path(id: step.id, post_id: step.post.id) %>'" style="text-align: center">
              <th scope="row"><%= index + 1 %></th>
              <td><%= step.name %></td>
              <td><%= step.updated_at %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
