<h1>Editing Post</h1>

<%= render 'form', post: @post %>

<% @steps.each do |step| %>

<div><%= step.content %></div>
<% end %>

<%= form_for(@step) do |f| %>
  <div class="field" style = "display:none">
    <%= f.label :post_id %>
    <%= f.number_field :post_id, :value => @post.id %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
