<div style="padding-left: 10%; padding-right:10%">
  <table class="table table-striped" style="text-align: center">
  <thead>
    <tr>
      <th style="text-align: center">#</th>
      <th style="text-align: center">Instruction</th>
      <th style="text-align: center">Updated</th>
      <th style="text-align: center">Rate</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each_with_index do |post, index| %>
      <tr onclick="window.location.href='<%= post_path(post.id) %>'">
        <th scope="row" style="text-align: center"><%= index + 1 %></th>
        <td><%= post.name %></td>
        <td><%= post.updated_at %></td>
        <td><%= post.rate %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>
