<div class="container-fluid body_Posts_Show">
  <div class="row header_Posts_Show">
    <div class="col-lg-9">
      <%= @post.name %>
    </div>
    <div class="col-lg-2">
      <% if current_user %>
        <%= rating_for @post, "original_score" %>
      <% end %>
    </div>
    <div class="col-lg-1" style="text-align: left">
      <% if (current_user && (@post.user_id == current_user.id || current_user.isAdmin)) %>
        <%= link_to t('posts.show.links.edit'), edit_post_path(@post.id), class: "btn btn-success" %>
      <% end %>
    </div>
  </div>

  <% @post.tags.each do |tag| %>
    <%= link_to tag, tag_path(tag), :class => "badge badge-pill badge-danger tags" %>
  <% end %>

  <div id="steps_List_Show">
    <%= render 'steps_List_Show' %>
  </div>
  <% if user_signed_in? %>
    <div id="comments">
      <%= render @comments %>
    </div>
    <div class="row" style="margin-top:2%; padding-left:1%; padding-right:1%;">
      <div class="input-group">
        <span class="input-group-addon">Commentary</span>
        <input id="input_Text" data-post-id=<%= @post.id %> data-user-id=<%= current_user.id %> type="text" data-behavior="post_speaker" class="form-control">
      </div>
    </div><br>
  <% end %>
</div>
