<div class="container-fluid body_posts_show">
  <div class="row header_posts_show">
    <div class="col-lg-6">
      <%= @post.name %>
    </div>
    <div class="col-lg-3 posts_show_header_buttons">
      <% if current_user %>
        <%= rating_for @post, "original_score" %>
      <% end %>
    </div>
    <div class="col-lg-3 posts_show_header_buttons">
      <% if (current_user && (@post.user_id == current_user.id || current_user.isAdmin)) %>
        <%= link_to t('posts.show.links.edit'), edit_post_path(@post.id), class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
  <div class="posts_show_tags">
    <% @post.tags.each do |tag| %>
      <%= link_to tag, tag_path(tag.name), :class => "badge badge-pill badge-danger tags" %>
    <% end %>
  </div>
  <div id="steps_list_show">
    <%= render 'steps_List_Show' %>
  </div>
  <% if user_signed_in? %>
    <div id="comments" style="margin-top:1%">
      <%= render @comments %>
    </div>
    <div class="row" style="margin-top:2%">
      <div class="input-group">
        <span class="input-group-addon"><%= t('posts.show.comment') %></span>
        <input id="input_text" data-post-id=<%= @post.id %> data-user-id=<%= current_user.id %> type="text" data-behavior="post_speaker" class="form-control">
      </div>
    </div><br>
  <% else %>
    <div class="row" style="margin-top:2%;margin-bottom:2%">
      <div class="col-lg-3"></div>
      <div class="col-lg-6"><strong><%= t('posts.show.unable') %></strong></div>
      <div class="col-lg-3"></div>
    </div>
  <% end %>
</div>
