<!DOCTYPE html>
<html>
  <head>
    <title>Life_Hacker</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag  'application', media: 'all'%>
    <link rel="stylesheet" href="http://www.atlasestateagents.co.uk/css/tether.min.css">
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <%= javascript_include_tag 'application'%>
    <%= stylesheet_link_tag 'posts'%>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>

  <body>
    <div class="container-fluid header">
      <div class="row">
        <div class="col-lg-3" style="text-align: center"><h3>Life_hacker</h3></div>
        <div class="col-lg-3">
          <div class="input-group">
            <input type="text" class="form-control" id="main_Search_Field" placeholder=<%= t('header.form.placeholder') %> aria-describedby="basic-addon1">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button" onclick="searchPosts()">Go!</button>
            </span>
          </div>
        </div>
        <div class="col-lg-1 a">
          <%= link_to t('header.links.users'), users_path, :class => "link_Header"%>
        </div>
        <div class="col-lg-3 a">
          <%= link_to t('header.links.posts'), posts_path, :class => "link_Header"%>
        </div>
        <% if user_signed_in? %>
        <div class="col-lg-2 login">
          <div class="dropdown">
            <img src=<%= current_user.image%> width="40" height="40" class="avatar_Login dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton" style="color:#400627">
            <div class = "dropdown-item" style="color:#400627; border-bottom: 2px solid #400627;"><%= current_user.nickname %></div>
            <% if current_user.isAdmin %>
              <div class = "dropdown-item" data-toggle="modal" data-target=".category_Create">Create category</div>
            <% end %>
            <%= link_to t('header.profile.create'), new_post_path, :class => "dropdown-item", :style =>"color:#400627;"%>
            <%= link_to t('header.profile.edit'), edit_user_path(current_user.id), :class => "dropdown-item", :style =>"color:#400627;"%>
            <%= link_to t('header.profile.logout'), destroy_user_session_path, method: :delete, :class => "dropdown-item", :style =>"color:#400627;"%>
            </div>
        </div>
        </div>
        <% else %>
        <div class="col-lg-2 login">
          <div data-toggle="modal" data-target=".bd-example-modal-sm"><%=t ('header.links.login') %></div>
        </div>
        <% end %>
      </div>
    </div>

  <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">

      <div class="modal-content" style="text-align: left; padding: 1%;">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%= t('header.modal.login') %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <div class="modal-body">
          <a class="btn btn-social-icon btn-lg btn-facebook" href="/users/auth/facebook">
            <i class="fa fa-facebook"></i>
            </a>
            <a class="btn btn-social-icon btn-lg btn-vk" href="/users/auth/vkontakte">
            <i class="fa fa-vk"></i>
            </a>
            <a class="btn btn-social-icon btn-lg btn-twitter" href="/users/auth/twitter">
            <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-social-icon btn-lg btn-google" href="/users/auth/google_oauth2">
            <i class="fa fa-google"></i>
            </a>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('header.modal.button') %></button>
          </div>
      </div>
    </div>
  </div>

  <div class="modal fade bd-example-modal-md category_Create" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">

      <div class="modal-content" style="text-align: left; padding-top: 0%; width: 300px; padding-left: 3%;padding-right: 3%;">
        <div class="modal-body">
            <%= form_for(@category) do |f| %><br>
            <div class="row">
              <div class="input-group">
                <span class="input-group-addon"><%= t('posts.form.name') %></span>
                <%= f.text_field :name, :class => "form-control" %>
              </div>
            </div><br>

          <div class="row" style="padding-left: 15%">
            <button type="submit" class="btn btn-secondary" style="width: 70%">Create category</button>
          </div><br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= yield %>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <div class="dropup">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= t('footer.buttons.language') %>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <div class ="dropdown-item btn btn-secondary"><%= link_to_unless I18n.locale == :en, t('footer.buttons.english'), locale: :en %></div>
              <div class ="dropdown-item btn btn-secondary"><%= link_to_unless I18n.locale == :ru, t('footer.buttons.russian'), locale: :ru %></div>
            </div>
          </div>
        </div>
        <div class="col-lg-2" style="text-align: center">
          <div class="btn-group btn-toggle" onclick = "f1()">
            <button class="btn btn-md btn-secondary">L</button>
            <button class="btn btn-md btn-outline-success active">D</button>
          </div>
        </div>
        <div class="col-lg-8"></div>
      </div>
    </div>
  </footer>
  </body>
</html
