<!DOCTYPE html>
<html>
  <head>
    <title>Life_Hacker</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag  'application', media: 'all'%>
    <link rel="stylesheet" href="http://www.atlasestateagents.co.uk/css/tether.min.css">
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container-fluid header">
      <div class="row">
        <div class="col-lg-3" style="text-align: center"><h3>Lifehacker</h3></div>
        <div class="col-lg-4">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Go!</button>
            </span>
          </div>
        </div>
        <div class="col-lg-3"></div>
        <% if user_signed_in? %>
        <div class="col-lg-2 login">
          <div class="dropdown">
            <img src=<%= current_user.image%> width="40" height="40" class="avatar_Login dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton" style="color:#400627">
            <div class = "dropdown-item" style="color:#400627; border-bottom: 2px solid #400627;"><%= current_user.nickname %></div>
            <%= link_to 'Edit profile', users_update_path, :class => "dropdown-item", :style =>"color:#400627;"%>
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => "dropdown-item", :style =>"color:#400627;"%>
            </div>
        </div>
        </div>
        <% else %>
        <div class="col-lg-2 login">
          <div data-toggle="modal" data-target=".bd-example-modal-sm"><%=t :login %></div>
        </div>
        <% end %> 
      </div>
    </div>

  <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
  
      <div class="modal-content" style="text-align: left; padding: 1%;">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Log in with:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <div class="modal-body">
          <a class="btn btn-social-icon btn-lg btn-facebook" href="/users/auth/facebook">
            <i class="fa fa-facebook"></i>
            </a>
            <a class="btn btn-social-icon btn-lg btn-vk" href="/users/auth/vkontakte">
            <i class="fa fa-vk"></i>
            </a>  
            <a class="btn btn-social-icon btn-lg btn-twitter" href="/users/auth/twitter">
            <i class="fa fa-twitter"></i>
            </a> 
            <a class="btn btn-social-icon btn-lg btn-google" href="/users/auth/google_oauth2">
            <i class="fa fa-google"></i>
            </a> 
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
      </div>
    </div>
  </div>
  <%= yield %>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-1">
          <%= image_tag "russian.png", :style => "max-width: 80%; height: 35px;border-radius: 5px;border: 1px solid black"%>
        </div>
        <div class="col-lg-1">
          <%= image_tag "english.png", :style => "max-width: 80%; height: 35px;border-radius: 5px;border: 1px solid black"%>
        </div>
        <div class="col-lg-2" style="text-align: center">
          <div class="btn-group btn-toggle" onclick = "f1()"> 
            <button class="btn btn-md btn-secondary">L</button>
            <button class="btn btn-md btn-outline-success active">D</button>
          </div>
        </div>
        <div class="col-lg-8"></div>
      </div>
    </div>
  </footer>
  </body>
</html